---
import Section from "../Section.astro"

import { education } from "@cv"
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual"
        const years = `${startYear} - ${endYear}`

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                </div>

                <time>{years}</time>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space-unit, 8px) * 4);
  }

  article h3 {
    font-weight: 500;
    color: var(--ink);
  }

  article footer p {
    color: var(--ink-secondary);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--space-unit);
  }

  time {
    color: var(--ink-tertiary);
    font-size: 0.8125rem;
    min-width: 102px;
    font-variant-numeric: tabular-nums;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
